.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
								  not supported by any browser */
}

.app {
	display: flex;
	flex-direction: row;
}

.board {
	width: 50vw;
	height: 100vh;
	background-color: grey;
}

.cell {
	position: absolute;
}

.cell:not(.selected) {
	filter: invert(0%);
}

.cell.selected {
	filter: invert(80%);
}

.config {
	margin-left: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.configText {
	width: 40vw;
	height: 80vh;
	outline: none;
}

.compileButton {
	border: none;
	background-color: limegreen;
	height: 10vh;
	font-size: 4vh;
}

.compileButton:hover {
	background-color: green;
	transform: scale(0.9);
	transition-duration: 0.3s;
}

.compileButton:not(:hover) {
	background-color: limegreen;
	transition-duration: 0.3s;
}