.app {
	display: flex;
	flex-direction: row;
}

.board {
	width: 50vw;
	height: 100vh;
	background-color: grey;
}

.cell {
	position: absolute;
}

.config {
	margin-left: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.configText {
	width: 40vw;
	height: 80vh;
	outline: none;
}

.compileButton {
	border: none;
	background-color: limegreen;
	height: 10vh;
	font-size: 4vh;
}